*{
    list-style: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header header"
        "sidebar content";
    height: 100vh;
    transition: grid-template-columns 0.5s ease; /* Ajusta la duración y la función de temporización de la transición */
}
header {
    grid-area: header;
    color: #fff;
    padding: 20px;
    background: linear-gradient(to top, #0077B6, #00aaff)
}
header.header-dashboard{
    display: flex;
    flex-direction: column;
}
.header-cont-perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-cont-perfil> h1{
    margin: 5px 0;
}
header i {
    /* -webkit-box-shadow: 6px 8px 40px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 8px 40px -15px rgba(0,0,0,0.75); */
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3)
}
.img-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('assets/img/team.jpg');
    background-size: cover; 
    background-position: center;
    position: relative;
    top: -20%;
}
nav {
    grid-area: sidebar;
    color: #fff;
    padding: 20px;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Ajusta la duración y la función de temporización de la transición */
    opacity: 1; /* Asegura que el menú esté inicialmente visible */
    transform: translateX(0); /* Asegura que el menú esté inicialmente en su posición normal */
}
main {
    grid-area: content;
    padding: 20px;
}
.card {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.background1{
    background: linear-gradient(to top, #00aaff 59%, #0077B6 80%);
} 
ul{
    
    padding-left: 0;}
li{
    margin-bottom: 20px;
}
/* Estilos para ocultar el menú de navegación inicialmente */
nav.hidden-nav {
    opacity: 0;
    transform: translateX(-100%);
}
#container.hidden {
    grid-template-columns: 0px auto;    
}
.search-container {
    padding: 20px 0;
}

#searchInput {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
